.product-ul {
    margin: 30px;
    padding: 30px;
}

.product-ls {
    padding: 20px;
    text-align: center;
}

.css-1qvr50w-MuiTypography-root, .css-1yr8029-MuiTypography-root {
    word-wrap: break-word;
}